USE [master]
GO
/****** Object:  Database [KatanUP01]    Script Date: 29.01.2026 19:35:52 ******/
CREATE DATABASE [KatanUP01]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KatanUP01', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KatanUP01.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KatanUP01_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\KatanUP01_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KatanUP01].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KatanUP01]
GO
/****** Object:  Table [dbo].[Addresses]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[FullAddress] [nvarchar](500) NOT NULL,
	[Floors] [int] NULL,
	[Apartments] [int] NULL,
	[BuildingYear] [int] NULL,
	[TotalArea] [decimal](10, 2) NULL,
	[StartManagementDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Debts]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debts](
	[DebtId] [int] IDENTITY(1,1) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[ApartmentNumber] [int] NOT NULL,
	[OwnerName] [nvarchar](255) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[WaterDebt] [decimal](10, 2) NULL,
	[ElectricityDebt] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[DebtId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[MiddleName] [nvarchar](100) NULL,
	[Position] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerName] [nvarchar](255) NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[ApartmentNumber] [int] NOT NULL,
	[Period] [nvarchar](50) NOT NULL,
	[ChargedAmount] [decimal](10, 2) NOT NULL,
	[PaidAmount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Requests]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requests](
	[RequestId] [int] IDENTITY(1,1) NOT NULL,
	[AddressId] [int] NOT NULL,
	[ApplicantName] [nvarchar](255) NOT NULL,
	[ApplicantPhone] [nvarchar](20) NULL,
	[ProblemDescription] [nvarchar](max) NOT NULL,
	[EmployeeId] [int] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CompletionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Debts_Address]    Script Date: 29.01.2026 19:35:53 ******/
CREATE NONCLUSTERED INDEX [IX_Debts_Address] ON [dbo].[Debts]
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Payments_Address]    Script Date: 29.01.2026 19:35:53 ******/
CREATE NONCLUSTERED INDEX [IX_Payments_Address] ON [dbo].[Payments]
(
	[Address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_AddressId]    Script Date: 29.01.2026 19:35:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_AddressId] ON [dbo].[Requests]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Requests_EmployeeId]    Script Date: 29.01.2026 19:35:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_EmployeeId] ON [dbo].[Requests]
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Requests_Status]    Script Date: 29.01.2026 19:35:53 ******/
CREATE NONCLUSTERED INDEX [IX_Requests_Status] ON [dbo].[Requests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT ('Открыта') FOR [Status]
GO
ALTER TABLE [dbo].[Requests] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([AddressId])
REFERENCES [dbo].[Addresses] ([AddressId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employees] ([EmployeeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Requests]  WITH CHECK ADD CHECK  (([Status]='Закрыта' OR [Status]='В работе' OR [Status]='Открыта'))
GO
/****** Object:  StoredProcedure [dbo].[GetRequestHistory]    Script Date: 29.01.2026 19:35:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 6. ПРОЦЕДУРА ДЛЯ ПОЛУЧЕНИЯ ИСТОРИИ ЗАЯВОК (для Модуля 4)
-- =============================================
CREATE PROCEDURE [dbo].[GetRequestHistory]
    @EmployeeId INT = NULL,
    @AddressId INT = NULL
AS
BEGIN
    SELECT 
        r.RequestId,
        r.CreatedDate,
        a.FullAddress,
        r.ApplicantName,
        r.ProblemDescription,
        e.LastName + ' ' + e.FirstName + ' ' + ISNULL(e.MiddleName, '') AS EmployeeFullName,
        r.Status,
        r.CompletionDate
    FROM Requests r
    LEFT JOIN Addresses a ON r.AddressId = a.AddressId
    LEFT JOIN Employees e ON r.EmployeeId = e.EmployeeId
    WHERE 
        (@EmployeeId IS NULL OR r.EmployeeId = @EmployeeId)
        AND (@AddressId IS NULL OR r.AddressId = @AddressId)
    ORDER BY r.CreatedDate DESC;
END;
GO
USE [master]
GO
